*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.main_box{
     height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;
}

.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 300;
    position:absolute;
    left: 18px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu{
    position: fixed;
    left: -600px;
    height: 100vh;
    background-color:rgba(0, 0, 0, 0.1);
    width:300px;
    box-shadow: 0 0 4px  rgba(255, 255, 255, 0.1);
}

.sidebar_menu .logo{
   position: absolute;
   width: 100%;
   line-height: 60px;
   box-shadow: 0 0 4px  rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
     color: white;
}

.sidebar_menu .btn_two i {
   color: grey;
   font-size: 25px;
   font-weight: 300;
  
    position:absolute;
    left: 275px;
    line-height: 60px;
    /* opacity: 0; */
    cursor: pointer;
}


.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top:80px
}

.sidebar_menu .menu li{
  
    margin: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu a,i {
    color: white;  
    text-decoration: none;

}


.sidebar_menu .menu i{
    padding-right: 8px;
}

.sidebar_menu .social_media{
    color: white;
    position: absolute;
    left: 25%;
    bottom: 10%;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0px 5px;
}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
  box-shadow: 0 0 4px  rgba(255, 255, 255, 0.5);
}

.btn_one i:hover{
    font-size: 40px;
}

.btn_two i:hover{
    font-size: 30px;
}
#check:checked ~.sidebar_menu{
left: 0;
}